target/
*.aix
node_modules/
public/
.DS_Store
paperback/lib/
paperback/bundles/
paperback/tmp/
local.properties
kotatsu/mangasorigines/.gradle/
kotatsu/mangasorigines/app/build/
kotatsu/mangasorigines/build/
